<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd"
        >

	<bean id="imageDao" class="dao.ImageDAOImpl">
		<constructor-arg name="mongoUri" value="#{ T(java.lang.System).getenv('MONGOLAB_URI')}"/>
		<constructor-arg name="dbString" value="heroku_kk6rc05p"/>
		<constructor-arg name="gridFSNamespace" value="img"/>
	</bean>
	
	<bean class="services.ImageServiceImpl">
		<constructor-arg name="imageDao" ref="imageDao"/>
	</bean>
	
	<bean class="services.StatusServiceImpl"/>

<!--     <bean class="org.glassfish.jersey.examples.helloworld.spring.DateTimeService" scope="request"/> -->

</beans>